.content {
    display: grid;
    max-width: 900px;
    margin: 100px auto;
    gap: 20px;
    grid-template-rows: 5fr 1fr 1fr 1fr 1fr ;
}

.cell {
    background-color: rgb(166, 235, 37);
    font-size: 3rem;
    color: white;
    padding: 10px;
}

.cell__1 {
    grid-column: 1 / 5;
}

.cell__2 {
    grid-row: 2 / 6;
}

.cell__4 {
    grid-column: 3 / 5;
}

.cell__5 {
    grid-column: 2 / 4;
}

.cell__10 {
    grid-column: 2 / 5;
}
