.content {
    display: grid;
    max-width: 1200px;
    margin: 100px auto;
    border: 2px solid black;
    grid-template-areas: 
                        "one one one one"
                        "two three four five"
                        "two six four five"
                        "two six seven five"
                        "two six eight nine";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
}

.cell {
    font-size: 3rem;
    border: 2px solid red;
    text-align: center;
}

.cell__1 {
    grid-area: one;
}

.cell__2 {
    grid-area: two;
}

.cell__3 {
    grid-area: three;
}

.cell_4 {
    grid-area: four;
}

.cell_5 {
    grid-area: five;
}

.cell_6 {
    grid-area: six;
}

.cell_7 {
    grid-area: seven;
}

.cell__8 {
    grid-area: eight;
}

.cell_9 {
    grid-area: nine;
}
